<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados</title>
</head>
<body>

    {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('admin.dashboard')}}">Painel Admin</a></p>
    {% endif %}

    {% if current_user.is_authenticated %}
        <p>Olá, {{ current_user.username }}! <a href="{{ url_for('auth.logout') }}">Sair</a></p>
    {% else %}
        <p>
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Registrar</a>
        </p>
    {% endif %}


    <h1>Lista de Chamados</h1>
    <a href="{{ url_for('main.create_ticket')}}">Novo Chamado</a>

    <ul>
    {%for t in tickets %}
        <li>
            <strong>#{{ t.id }} {{ t.title}}</strong> - {{ t.status }}<br>
            {{ t.description }}

        </li>
    {% else %}
        <li>Nenhum chamado aberto.</li>
    {% endfor %}
    </ul>



</body>
</html>