<!DOCTYPE html>
<head><title>Registro</title></head>
<body>
    <h1>Registro</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for m in messages %}
            <li>{{ m }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        <form method="POST">
            <label>Usuário:
                <input type="text" name="username" placeholder="Seu nome..." required>
            </label>

            <label>Senha:
                <input type="password" name="password" placeholder="Sua senha..." required>
            </label>
            <button type="submit">Registrar</button>
        </form>

        <p>Já tem conta? <a href="{{ url_for('auth.login') }}">Login</a></p>


</body>